<!--
To improve the performance:
1. Enable your browser's hardware acceleration
2. Combine GPU.js / turbo.js
3. Improve the performance of SocialNetworkAnalysis.js / Use networkx to analyse graph
4. Use easier geometry, like particle system
5. Support Leap Motion
6. More layout algorithm in 3D, like Force Atlas and OpenOrd (ref: gephi/gephi wiki on github)
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>VRVisual</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0"/>
    <style>
        body {
            font-family: Monospace, monospace;
            background-color: #ffffff;
            margin: 0;
            overflow: hidden;
        }

        /* ---Format of table START--- */
        table {
            border-collapse: collapse;
            overflow: hidden;
            -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        th, td {
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
        }

        th {
            text-align: left;
        }

        thead th {
            background-color: rgba(85, 96, 143, 0.4);
        }

        tbody tr:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }

        tbody td {
            position: relative;
        }

        tbody td:hover:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: -9999px;
            bottom: -9999px;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: -1;
        }

        /* ---Format of table END--- */

        /* ---Format of info grid--- */
        .info {
            font-weight: 100;
            font-family: sans-serif;
            position: absolute;
            top: 0;
            right: 0;
        }

        .nodeInfo {
            position: absolute;
            top: 0;
            right: 0;
        }

        .graphInfo {
            position: absolute;
            top: 84px;
            right: 0;
        }
    </style>
</head>
<body>

<script src="../static/build/three.min.js"></script>
<script src="../static/js/vr/WebVR.js"></script>
<script src="../static/js/libs/stats.min.js"></script>
<script src="../static/js/SocialNetworkAnalysis.js"></script>

<script>

    let scene, camera, rayCaster, renderer, sphereGroup, mouse;

    // Information parameters
    let stats, nodeInfo, SNA, textLoader, textMesh, textFlag = false;

    // Layout data
    let nodeList, edgeList;

    init();
    animate();

    function init() {
        let container = document.createElement('div');
        container.id = 'container';
        document.body.appendChild(container);

        // Create a scene
        scene = new THREE.Scene();
        scene.background = new THREE.Color(0xe5e5e5);

        // Create a camera
        let cameraGroup = new THREE.Group();
        cameraGroup.position.set(0, 0, 0);
        scene.add(cameraGroup);
        camera = new THREE.PerspectiveCamera(70, window.innerWidth / window.innerHeight, 0.1, 10);
        cameraGroup.add(camera);

        // Add environment light
        scene.add(new THREE.AmbientLight(0xffffff, 3.5));

        // Get layout data
        nodeList = getNodes();
        edgeList = getEdges();
        SNA = new SocialNetworkAnalysis(nodeList, edgeList);
        getAttributes(SNA);

        // Add data sphere
        sphereGroup = new THREE.Group();
        scene.add(sphereGroup);
        let sGeometry = new THREE.SphereGeometry(1, 8, 8);
        const unimportantColorStart = 0xbbbbbb;
        const unimportantColorGap = 0x1d1d1d;
        const colorGap = 3;
        const importantColorStart = 0xdddddd;
        const importantColorRange = 0x0a0a0a;
        for (let i = 0; i < nodeList.length; ++i) {
            if (nodeList[i].depth <= colorGap)
                nodeList[i].color = unimportantColorStart - nodeList[i].depth * unimportantColorGap;
            else {
                nodeList[i].color = importantColorStart + Math.random() * importantColorRange;
            }
            let material = new THREE.MeshStandardMaterial({
                color: nodeList[i].color,
                wireframe: false
            });
            let object = new THREE.Mesh(sGeometry, material);

            object.position.x = nodeList[i].x;
            object.position.y = nodeList[i].y;
            object.position.z = nodeList[i].z;

            // Object.userData can store some user data
            object.userData.depth = nodeList[i].depth;
            object.userData.inDegree = nodeList[i].inDegree;
            object.userData.outDegree = nodeList[i].outDegree;
            object.userData.pageRank = nodeList[i].pageRank;
            object.userData.mid = nodeList[i].id;

            object.scale.setScalar(0.03);
            sphereGroup.add(object);
        }

        // Add line START
        let lineGroup = new THREE.Group();
        scene.add(lineGroup);

        function findNodeByID(id) {
            for (let i = 0; i < nodeList.length; ++i) {
                if (nodeList[i].id === id)
                    return nodeList[i];
            }
        }

        for (let i = 0; i < edgeList.length; ++i) {
            let sourceNode = undefined;
            let targetNode = undefined;
            sourceNode = findNodeByID(edgeList[i].source);
            targetNode = findNodeByID(edgeList[i].target);
            if (sourceNode !== undefined && targetNode !== undefined) {
                let lineMaterial = new THREE.LineBasicMaterial({
                    color: sourceNode.color,
                    opacity: 0.4,
                    linewidth: 0.1, // In windows linewidth will be always 1, ref: three.js LineBasicMaterial
                    transparent: true // Opacity only works when transparent is true, ref: three.js Material
                });
                let lineGeometry = new THREE.Geometry();
                lineGeometry.vertices.push(new THREE.Vector3(sourceNode.x, sourceNode.y, sourceNode.z));
                lineGeometry.vertices.push(new THREE.Vector3(targetNode.x, targetNode.y, targetNode.z));
                let oneLine = new THREE.Line(lineGeometry, lineMaterial);
                lineGroup.add(oneLine);
            }
        }
        // Add line END

        mouse = new THREE.Vector2();
        rayCaster = new THREE.Raycaster();

        renderer = new THREE.WebGLRenderer({antialias: true});
        renderer.setPixelRatio(window.devicePixelRatio);
        renderer.setSize(window.innerWidth, window.innerHeight);
        renderer.vr.enabled = true;
        container.appendChild(renderer.domElement);

        window.addEventListener('resize', onWindowResize, false);

        document.addEventListener('mousedown', onDocumentMouseDown, false);
        document.addEventListener('touchstart', onDocumentTouchStart, false);

        // Stats is an extension showing fps
        stats = new Stats();
        container.appendChild(stats.domElement);

        // Information grid
        let info = document.createElement('div');
        info.className = 'info';

        // Node information
        nodeInfo = document.createElement('div');
        nodeInfo.className = 'nodeInfo';
        info.appendChild(nodeInfo);

        // Graph information
        let graphInfo = document.createElement('div');
        graphInfo.className = 'graphInfo';
        graphInfo.innerHTML =
            "<table>" +
            "<thead>" +
            "<tr>" +
            "<th>AvgDegree</th>" +
            "<th>AvgWeight</th>" +
            "<th>Diameter</th>" +
            "<th>Density</th>" +
            "<th>AvgShortestPathLength</th>" +
            "<th>isWeaklyConnected</th>" +
            "<th>isStronglyConnected</th>" +
            "</tr>" +
            "</thead>" +
            "<tbody>" +
            "<tr>" +
            "<td>" + SNA.avgDegree + "</td>" +
            "<td>" + SNA.avgWeight + "</td>" +
            "<td>" + SNA.diameter + "</td>" +
            "<td>" + SNA.density + "</td>" +
            "<td>" + SNA.avgShortestPathLength + "</td>" +
            "<td>" + SNA.isWeaklyConnected + "</td>" +
            "<td>" + SNA.isStronglyConnected + "</td>" +
            "</tr>" +
            "</tbody>" +
            "</table>";
        info.appendChild(graphInfo);
        container.appendChild(info);

        // ENTER VR BUTTON
        document.body.appendChild(WEBVR.createButton(renderer));

        // Text
        textLoader = new THREE.FontLoader();
    }

    // getNodes
    function getNodes() {
        let nodeList = [];
        // 'id', 'x', 'y', 'z'
        {% for node in nodes %}
            tmp = new Node({{node[0]}}, {{node[1]}}, {{node[2]}}, {{node[3]}});
            nodeList.push(tmp);
        {% endfor %}
        return nodeList;
    }

    // getEdges
    function getEdges() {
        let edgeList = [];
        // 'source', 'target', 'weight'
        {% for edge in edges %}
            tmp = new Edge({{edge[0]}}, {{edge[1]}}, {{edge[2]}});
            edgeList.push(tmp);
        {% endfor %}
        return edgeList;
    }

    function getAttributes(SNA) {
        SNA.isWeaklyConnected = {{weak}};
        SNA.isStronglyConnected = {{strong}};
        SNA.avgShortestPathLength = {{avgspl}};
    }

    // Listening to window-resize event
    function onWindowResize() {
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize(window.innerWidth, window.innerHeight);
    }

    // Listening to mouse touch
    function onDocumentTouchStart(event) {
        event.preventDefault();
        event.clientX = event.touches[0].clientX;
        event.clientY = event.touches[0].clientY;
        onDocumentMouseDown(event);
    }

    function onDocumentMouseDown(event) {
        event.preventDefault();
        mouse.x = (event.clientX / renderer.domElement.clientWidth) * 2 - 1;
        mouse.y = -(event.clientY / renderer.domElement.clientHeight) * 2 + 1;
        rayCaster.setFromCamera(mouse, camera);
        let intersects = rayCaster.intersectObjects(sphereGroup.children);
        if (intersects.length > 0) {
            let object = intersects[0].object;
            // Show node information
            nodeInfo.innerHTML =
                "<table>" +
                "<thead>" +
                "<tr>" +
                "<th>X</th>" +
                "<th>Y</th>" +
                "<th>Z</th>" +
                "<th>MID</th>" +
                "<th>PageRank</th>" +
                "<th>InDegree</th>" +
                "<th>OutDegree</th>" +
                "</tr>" +
                "</thead>" +
                "<tbody>" +
                "<tr>" +
                "<td>" + object.position.x.toFixed(4) + "</td>" +
                "<td>" + object.position.y.toFixed(4) + "</td>" +
                "<td>" + object.position.z.toFixed(4) + "</td>" +
                "<td>" + object.userData.mid + "</td>" +
                "<td>" + (100 * object.userData.pageRank).toFixed(4) + "%</td>" +
                "<td>" + object.userData.inDegree + "</td>" +
                "<td>" + object.userData.outDegree + "</td>" +
                "</tr>" +
                "</tbody>" +
                "</table>";
            // Remove text geometry
            scene.remove(textMesh);
            textMesh = undefined;
            textFlag = false;
            // Show text geometry
            showText(object);
        }
    }

    function showText(OBJECT) {
        // Only add once when mouse is pressed
        if (!textFlag) {
            let str = 'Node Information' +
                '\nX:' + OBJECT.position.x.toFixed(4) +
                '\nY:' + OBJECT.position.y.toFixed(4) +
                '\nZ:' + OBJECT.position.z.toFixed(4) +
                '\nMID:' + OBJECT.userData.mid +
                '\nPageRank:' + (100 * OBJECT.userData.pageRank).toFixed(4) + '%' +
                '\nInDegree:' + OBJECT.userData.inDegree +
                '\nOutDegree:' + OBJECT.userData.outDegree +
                '\nGraph Information' +
                '\nAvgDegree:' + SNA.avgDegree +
                '\nAvgWeight:' + SNA.avgWeight +
                '\nDiameter:' + SNA.diameter +
                '\nDensity:' + SNA.density +
                '\nAvgShortestPathLength' + SNA.avgShortestPathLength +
                '\nisWeaklyConnected' + SNA.isWeaklyConnected +
                '\nisStronglyConnected' + SNA.isStronglyConnected;
            textLoader.load('/static/fonts/helvetiker_bold.typeface.json', function (font) {
                let textGeo = new THREE.TextGeometry(str, {
                    font: font,
                    size: 0.04,
                    height: 0.0001
                });
                let textMaterial = new THREE.MeshPhongMaterial({color: 0x090909});
                textMesh = new THREE.Mesh(textGeo, textMaterial);
                textMesh.position.x = OBJECT.position.x + 0.1;
                textMesh.position.y = OBJECT.position.y + 0.8;
                textMesh.position.z = OBJECT.position.z;
                scene.add(textMesh);
            });
            textFlag = true;
        }
        textMesh.lookAt(camera.position);
    }

    function animate() {
        requestAnimationFrame(animate);
        render();
        stats.update();
    }

    function render() {
        renderer.render(scene, camera);
    }

</script>
</body>
</html>